.storybook-chat {
  font-family: Montserrat;
  border-radius: 24px;
  overflow: hidden;
  width: 95%;
  max-width: 375px;
  margin: 0 auto;
  color: #FFF;
}

.storybook-chat__main {
  padding: 22px 32px;
  background: #4643D3;
}

.storybook-chat__main-header {
  display: flex;
}

.storybook-chat__main-header .avatar {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
  align-self: center;
}

.storybook-chat__main-header .avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.storybook-chat__main-header .info {
  flex: 1;
  margin: 0 15px;
}

.storybook-chat__main-header .info svg {
  cursor: pointer;
}

.storybook-chat__main-header .user-name {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.25px;
  margin: 0;
  margin-bottom: 7px;
}

.storybook-chat__main-header .user-role {
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.75);
  margin: 0;
}

.storybook-chat__main-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-top: 17px;
}

.storybook-chat__footer {
  display: flex;
  align-items: center;
  padding: 18px 32px 16px;
  background: #FFF;
}

.storybook-chat__footer-field {
  flex: 1;
  margin-right: 10px;
  box-shadow: none;
  border: 0;
  padding: 5px 0;
  background: transparent;
  font-family: Montserrat;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.25px;
}

.storybook-chat__footer-field::placeholder {
  color: #AFAFBD;
}

.storybook-chat__footer-field:focus,
.storybook-chat__footer-field:active {
  outline: none;
  box-shadow: none;
  border: 0;
}

.storybook-chat__footer-btn {
  font-family: Montserrat;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  color: #5856D7;
  border: 0;
  outline: none;
  box-shadow: none;
  background: transparent;
}
